@import "bulma/utilities/_all"

.is-button
  height: 62px
  font-size: 12px
  letter-spacing: 0.86px
  text-align: center
  color: #FFFFFF
  transition: 200ms all ease
  position: relative
  text-transform: uppercase
  display: inline-flex
  justify-content: center
  align-items: center

  &:hover
    transform: translateY(-4px)
    box-shadow: 0 10px 40px 0 rgba(255,255,255,0.14)

  &.is-blue
    background: #4525D0

  &.is-dark
    border: 1px solid #1E1A31
    background-color: #0A0817

  &.is-white
    background: linear-gradient(0deg, #E9E8F2 0%, #FFFFFF 100%)
    color: #0A0817

  &.is-simple
    border: 1px solid #302F61
    &:hover
      background-color: #FFFFFF
      border-color: #FFFFFF
      color: $blue-dark

  &.is-wide
    width: 270px
    +mobile
      width: 100%

  &.is-subtle
    width: 250px
    font-size: 16px
    padding: 12px 20px
    +mobile
      width: 100%

  &.is-subtle-alt
    font-size: 18px
    padding: 14px 30px
    +mobile
      width: 100%
    .is-icon
      position: relative
      display: inline
      left: unset
      top: unset
      transform: unset
      vertical-align: sub
      padding-right: 20px


  &.is-center
    text-align: center !important

  .is-icon
    position: absolute
    left: 25px
    top: 50%
    transform: translateY(-50%)

  &.has-icon
    +desktop
      span
        padding-left: 20px

button.is-button
  height: 62px
  font-size: 12px
  letter-spacing: 0.86px
  text-align: center
  color: #FFFFFF
  transition: 200ms all ease
  position: relative
  text-transform: uppercase
  display: inline-flex
  justify-content: center
  align-items: center
  width: 100%
  background: #4525D0
  border: none

  +tablet
    width: 270px
  &.is-blue
    background: linear-gradient(180deg, #4229EB 0%, #6955FF 100%)
  &:hover
    transform: translateY(-4px)
    box-shadow: 0 10px 40px 0 rgba(255,255,255,0.14)

.is-announcement
  height: unset
  min-height: 34px
  font-size: 14px
  color: #FFFFFF
  border-radius: 27px
  background-color: #100D22
  padding: 5px 20px 5px 8px
  line-height: 1
  box-shadow: none !important
  border: 1px solid #201D34
  display: inline-flex

  +tablet
    margin-top: 15px
  span
    display: inline-block
    &:first-child
      background:  linear-gradient(180deg, #4525D0 0%, #280AA7 100%)
      border-radius: 27px
      padding: 5px 8px
      line-height: 1
      margin-right: 5px

.purple-button 
  width: 239px
  height: 62px
  text-transform: uppercase

  background: #4525D0
  font-size: 12px
  font-weight: 700
  color: #FFFFFF
  letter-spacing: 0.86px
  display: flex

  align-items: center
  justify-content: center 