@import "node_modules/mathsass/dist/math"

@function nrmlz($number, $multiplier, $base: 100)
  @if $multiplier == 1
    @return $number*1px

  $number-base: $number
  @if $number > $base
    $number-base: $base

  $ratio: $number-base / $base

  $ratio-adjusted: pow($ratio, 0.8)

  @return ($ratio-adjusted/$ratio)*$number*$multiplier*1px
