@import "bulma/utilities/_all"
@import "functions"

.section
  &.is-padded
    padding-top: 120px
    padding-bottom: 140px
    +mobile
      padding-top: 120px*0.4
      padding-bottom: 140px*0.4

  &.is-white
    background-color: #ffffff
    a
      color: #5641F2

  &.is-grey
    background-color: #F9F8FD

  &.is-blue
    background-color: #1B115F

h1.page-title
  font-weight: normal
  font-size: 66px
  color: #FFFFFF
  text-align: center
  line-height: 1.4em
  width: 900px
  margin: auto
  padding-bottom: 20px
  +mobile
    font-size: 32px

.page-subtitle
  width: 647px
  color: $blue-light
  font-size: 22px
  letter-spacing: -0.26px
  line-height: 1.6em
  text-align: center
  margin: auto
  padding-bottom: 40px
  +mobile
    font-size: 18px


.section-title
  width: 825px
  color: #0A0817
  font-size: 46px
  font-weight: normal
  letter-spacing: -0.53px
  line-height: 1.3em
  text-align: center
  padding-bottom: 18px
  margin: auto
  +mobile
    font-size: 32px
  &.is-white
    color: #fff
  &.is-narrow
    width: 670px
  &.is-subtle
    font-size: 24px
    width: auto
  &.is-large
    letter-spacing: -1.16px
    line-height: 1.3em
    @include font-size(56)

.section-desc
  width: 523px
  color: #6F6DA0
  line-height: 1.55em
  text-align: center
  margin: auto
  @include font-size(22)

.ui-box
  width: 782px
  border: 1px solid #414067
  border-radius: 4px
  background-color: #0A0817
  box-shadow: 0 10px 50px 0 rgba(19,16,72,0.16)
  margin-left: auto
  margin-right: auto
  font-size: 16px

  &.is-code
    overflow: hidden
    text-overflow: ellipsis
    padding: 38px
    font-family: Akkurat-Mono
    +mobile
      font-size: 12px
      padding: 20px

+touch
  h1.page-title
    width: auto
  .page-subtitle
    width: auto
  .ui-box
    width: auto
  .section-title
    width: auto
    &.is-narrow
      width: auto
    &.is-large
      width: auto
  .section-desc
    width: auto

.modal.is-video
  +desktop
    .modal-content
      width: 840px