@import "bulma/utilities/_all"

// Desktop multiplier
$mx: 1
.p-0
  padding: 0
.p-40
  padding: 40px*$mx
.pt-70
  padding-top: 70px*$mx
.pb-30
  padding-bottom: 30px*$mx
.pb-50
  padding-bottom: 50px*$mx
.pb-60
  padding-bottom: 60px*$mx
.pb-70
  padding-bottom: 70px*$mx
.pb-110
  padding-bottom: 110px*$mx !important
.mb-50
  margin-bottom: 50px*$mx
.mb-80
  margin-bottom: 80px*$mx

// Mobile Device multiplier
$mx: 0.5
+mobile
  .p-40
    padding: 40px*$mx
  .pt-70
    padding-top: 70px*$mx
  .pb-30
    padding-bottom: 30px*$mx
  .pb-50
    padding-bottom: 50px*$mx
  .pb-60
    padding-bottom: 60px*$mx
  .pb-70
    padding-bottom: 70px*$mx
  .pb-110
    padding-bottom: 110px*$mx !important
  .mb-50
    margin-bottom: 50px*$mx
  .mb-80
    margin-bottom: 80px*$mx

.code-green
  color: #00CE63

.code-red
  color: #FF1A68

.code-white
  color: #FFFFFF

.code-comment
  color: #2E3252

.code-regular
  color: #6A6E8B

.blue
  color: #5641F2

.red
  color: #F24151

.green
  color: #00CE63

.justify-content--space-between
  justify-content: space-between