@import "bulma/utilities/_all"

.p-40
  padding: 40px

.pb-110
  padding-bottom: 110px !important

.pb-50
  padding-bottom: 50px

.pb-70
  padding-bottom: 70px

.mb-50
  margin-bottom: 50px

.mb-80
  margin-bottom: 80px

.code-green
  color: #00CE63

.code-red
  color: #FF1A68

.code-white
  color: #FFFFFF

.code-comment
  color: #2E3252

.code-regular
  color: #6A6E8B

.blue
  color: #5641F2

.red
  color: #F24151

.green
  color: #00CE63

.justify-content--space-between
  justify-content: space-between