@import "../styles/bulma/utilities/_all"
@import "../styles/partials"

.input
  padding: 30px 20px
  border-radius: 0
  background-color: #FFFFFF
  color: #6F6DA0
  font-size: 12px
  letter-spacing: -0.21px
  text-transform: uppercase
  +tablet
    width: 280px