@import "bulma/utilities/_all"
@import "nav"
@import "buttons"
@import "inputs"
@import "layout"

.discord-btn
    width: 130px
    height: 40px
    position: fixed
    bottom: 10px
    right: 10px
    background: url("../resources/join-us-on-discord.svg") no-repeat
    background-size: cover
    background-position-y: -3px
    cursor: pointer
    z-index: 1000
    border-radius: 4px

@import "shortcuts"