@import "../styles/bulma/utilities/_all"
@import "../styles/partials"

.not-found-page
  .page-subtitle
    +tablet
      width: 800px

  .header-section
    //background-color: #00CE63
    $min-height: 200px
    background-image: url("../resources/bg-wave-long.svg")
    @extend %wave-bg
    +mobile
      min-height: $min-height*2.2
    +tablet
      min-height: $min-height*2.2
    +desktop
      min-height: $min-height*2.8

  .main-img
    text-align: center

