@import "../styles/bulma/utilities/_all"
@import "../styles/partials"
@import "../styles/functions"

.community-page
  .page-subtitle
    +tablet
      width: 500px


  .s-title
    color: #1E1A31
    letter-spacing: -1.16px
    line-height: 1.3em
    text-align: center
    margin: auto
    font-weight: bold
    @include font-size(56)
    +tablet
      width: 850px

  .s-desc
    color: #6F6DA0
    font-size: 18px
    letter-spacing: -0.21px
    line-height: 30px
    text-align: center
    margin: auto
    +tablet
      width: 350px

  .join-our-discord-box
    @extend %box
    display: block
    cursor: pointer
    margin: auto
    padding: 40px 50px
    +tablet
      width: 525px
    .column
      display: flex
      align-items: center
      justify-content: center
      &:last-child
        color: #5641F2
        font-size: 30px
        font-weight: 500
        letter-spacing: -0.63px

  .channels
    justify-content: center
    .column
      @extend %box
      padding: 30px
      color: #5641F2
      font-size: 18px
      letter-spacing: -0.21px
      display: flex
      justify-content: center
      img
        padding-right: 20px



  .subscribe-section
    color: #FFFFFF
    font-size: 36px
    font-weight: 500
    letter-spacing: -0.42px
    text-align: center

    .sub-inputs
      justify-content: center