@import "../styles/bulma/utilities/_all"
@import "../styles/partials"
@import "../styles/layout"

.iosio-page
  .page-title
    +tablet
      width: 650px

  .page-subtitle
    +tablet
      width: 550px

  .logo
    +mobile
      width: 50%

  .header-section
    text-align: center
    min-height: 500px
    background-color: #0f0833
    background-image: url("../resources/bg-wave-01.svg")
    background-size: 100% auto
    background-repeat: no-repeat
    background-position-y: 100%
    +tablet
      min-height: 870px

  .st-1
    color: #0D0A31
    font-size: 56px
    font-weight: 500
    letter-spacing: -0.65px
    text-align: center
    line-height: 1.4em
    +mobile
      font-size: 40px

  .sd-1
    +tablet
      width: 680px

  .st-2
    color: #0D0A31
    font-size: 36px
    font-weight: 500
    letter-spacing: -0.42px
    line-height: 55px
    text-align: center
    +mobile
      font-size: 28px

  .sl-1
    text-align: left
    @extend .section-desc
    +tablet
      width: 700px
    li
      padding-left: 10px
      padding-bottom: 0.5em

  .st-3
    @extend .st-2
    +tablet
      width: 850px
      margin: auto