@import "../styles/bulma/utilities/_all"
@import "../styles/shortcuts"

.home-page
  .currency-row
    margin-top: 0
    margin-bottom: 0

  .currency-section
    background-color: #fff
    background-image: url(../resources/bg-blue-line.png)
    background-position: 0 -640px
    background-repeat: repeat-x

  .get-rewarded-boxes
    .column
      cursor: pointer
      width: 380px
      border: 1px solid #D1D1E8
      border-radius: 4px
      background-color: #FFFFFF
      box-shadow: 0 10px 20px 0 rgba(64,43,220,0.11)
      margin: 10px
      padding: 40px 40px 50px 44px
      display: flex
      flex-direction: column
      transition: 200ms all ease
      &:hover
        transform: translateY(4px)
        box-shadow: 0 5px 5px 0 rgba(64,43,220,0.09)

      .c-top
        flex-grow: 0
        padding-bottom: 25px
      .c-bottom
        flex-grow: 0
      .p1
        float: right
        font-size: 16px
        letter-spacing: -0.33px
        text-align: right
        line-height: 24px
      .p2
        font-size: 24px
        font-weight: 500
        letter-spacing: -0.5px
        line-height: 26px
        padding-bottom: 10px
      .p3
        font-size: 20px
        letter-spacing: -0.42px
        line-height: 31px
        color: #6F6E98

  .page-title
    +desktop
      padding-top: 20px
    +touch
      width: 80%

  .page-subtitle
    color: #6F6E98
    font-size: 36px
    letter-spacing: -0.75px
    text-align: center
    +touch
      font-size: 22px

  .feature-boxes
    .column
      width: 380px
      text-align: center
    .c-img
      min-height: 68px
      @extend .pb-50
    .p1
      color: #0A0817
      font-size: 18px
      padding-bottom: 13px
    .p2
      font-size: 18px
      line-height: 30px
      width: 310px
      margin: auto


  .main-buttons
    .main-button
      padding: 20px 40px
      font-size: 22px
      display: flex
      justify-content: center
      align-items: center
      min-width: 218px
      img.is-icon
        position: relative
        display: inline
        padding-right: 20px

  .subscribe-section
    color: #FFFFFF
    font-size: 36px
    font-weight: 500
    letter-spacing: -0.42px
    text-align: center

    .sub-inputs
      justify-content: center

  +desktop
    .get-rewarded-boxes .column, .feature-boxes .column
      flex: none

  +touch
    .get-rewarded-boxes .column, .feature-boxes .column, .feature-boxes .column .p2
      width: auto
