@import "../styles/bulma/utilities/_all"
@import "../styles/partials"
@import "../styles/functions"

.litepaper-page
  .page-subtitle
    +tablet
      width: 600px

  .flags-section
    .container 
      margin: 32px auto auto auto

    .flags-container
      display: flex
      justify-content: space-around
      max-width: 900px
      margin: 56px auto 70px auto

      +touch
        margin-top: 20px


      img
        width: 100%
        max-height: 196px

        transition: 200ms all ease

        &:hover
          transform: translateY(4px)
          box-shadow: 0 5px 5px 0 rgba(64,43,220,0.09)

        +touch
          max-height: 144px

        +mobile
          max-height: 98px
