@import "../styles/bulma/utilities/_all"
@import "../styles/partials"

.partners-page

  .header-section
    $min-height: 200px
    background-image: url("../resources/bg-wave-short.svg")
    @extend %wave-bg
    +tablet
      min-height: $min-height*2
    +desktop
      min-height: $min-height*2.4

  .page-subtitle
    +tablet
      width: 800px

  .sp1
    color: #0D0A31
    font-family: Guillon
    font-size: 24px
    font-weight: 500
    letter-spacing: -0.28px
    text-align: center
    .strong
      color: #5641F2

  .feature-boxes
    justify-content: center
    .column
      text-align: center
      +tablet
        padding: 0 50px
    .c-img
      height: 110px
    .p1
      color: #0D0A31
      font-size: 18px
      padding-bottom: 13px
    .p2
      font-size: 18px
      line-height: 30px
      margin: auto

  .sp2
    color: #0D0A31
    font-family: Guillon
    font-size: 36px
    font-weight: 500
    letter-spacing: -0.42px
    line-height: 55px
    text-align: center
    +tablet
      width: 665px

  .sp3
    color: #6F6DA0
    font-family: Guillon
    font-size: 18px
    letter-spacing: -0.21px
    line-height: 36px
    text-align: center
    +tablet
      width: 580px

  .sp4
    color: #6F6DA0
    font-family: Guillon
    font-size: 18px
    letter-spacing: -0.21px
    line-height: 36px
    text-align: center
    +tablet
      width: 485px

  .integrate-with-havven
    .first-column
      & > *
        text-align: center
        +tablet
          text-align: left
      a.is-button.is-subtle
        display: block
        +tablet
          width: 265px
    .sp5
      color: #0D0A31
      font-family: Guillon
      font-size: 36px
      font-weight: 500
      letter-spacing: -0.42px
      line-height: 55px
      +tablet
        width: 665px

    .sp6
      color: #6F6DA0
      font-family: Guillon
      font-size: 18px
      letter-spacing: -0.21px
      line-height: 36px
      margin: 0
      +tablet
        width: 500px

    .second-column
      & > *
        text-align: center
        +tablet
          text-align: left

      .p-title
        color: #5641F2
        font-family: Guillon
        font-size: 24px
        font-weight: 500
        letter-spacing: -0.5px
        line-height: 28px

      .p-text
        color: #6F6DA0
        font-family: Guillon
        font-size: 18px
        letter-spacing: -0.21px
        line-height: 32px