@import "../styles/bulma/utilities/_all"
@import "../styles/partials"

.privacy-policy-page
  .page-subtitle
    +tablet
      width: 550px

  .privacy-policy-list
    margin: auto
    li
      padding-bottom: 25px
      span
        font-weight: 500
    +tablet
      width: 780px