@import "../styles/bulma/utilities/_all"
@import "../styles/partials"

.team-page
  .header-section
    padding: 5rem 1.5rem

    .h1
      margin: auto
      width: 60vw
      max-width: 1400px

  .page-subtitle
    +tablet
      width: 430px

  .team-members
    background-color: #fff
    padding: 8rem

  .join-team-section
    .section-desc
      +tablet
        width: 765px

    .open-positions
      justify-content: center
      .column
        @extend %box-dark
        padding: 45px 53px
        +tablet
          flex-basis: 380px
          flex-grow: 0
        div
          color: #fff
          font-size: 22px
          letter-spacing: -0.5px
          +tablet
            width: 220px

    .join-team-desc
      +tablet
        width: 680px
