@import "../styles/bulma/utilities/_all"
@import "../styles/partials"

.team-page
  .page-subtitle
    +tablet
      width: 430px

  .header-section
    $min-height: 200px
    text-align: center
    background-color: #0D0A31
    background-image: url("../resources/bg-wave-long.svg")
    background-size: 100% auto
    background-repeat: no-repeat
    background-position-y: 100%
    +tablet
      min-height: $min-height*2.2
    +desktop
      min-height: $min-height*2.7


  .team-members
    background-color: #fff

  .join-team-section
    .section-desc
      +tablet
        width: 765px

    .open-positions
      justify-content: center
      .column
        @extend %box
        padding: 45px 53px
        +tablet
          flex-basis: 380px
          flex-grow: 0
        div
          color: #5641F2
          font-family: Guillon
          font-size: 24px
          font-weight: 500
          letter-spacing: -0.5px
          line-height: 28px
          +tablet
            width: 220px

    .join-team-desc
      +tablet
        width: 680px
