@import "../styles/bulma/utilities/_all"
@import "../styles/partials"

.terms-of-use-page
  .page-subtitle
    +tablet
      width: 550px

  .header-section
    min-height: 230px
    background-color: #fff
    background-image: url("../resources/bg-contact-us.svg")
    background-size: 100% auto
    background-repeat: no-repeat
    background-position-y: 100%

  .terms-of-use-list
    width: 780px
    text-align: center
    margin: auto
    li
      padding-bottom: 25px
      span
        font-weight: 500

