@import "../styles/bulma/utilities/_all"
@import "../styles/partials"

.terms-of-use-page
  .page-subtitle
    +tablet
      width: 550px

  .header-section
    min-height: 200px
    background-color: #0f0833
    background-image: url("../resources/bg-wave-long.svg")
    background-size: 100% auto
    background-repeat: no-repeat
    background-position-y: 100%
    +tablet
      min-height: 380px

  .terms-of-use-list
    margin: auto
    li
      padding-bottom: 25px
      span
        font-weight: 500
    +tablet
      width: 780px
