@import "../styles/bulma/utilities/_all"
@import "../styles/partials"
@import "../styles/functions"

.tokens-page

  .header-section
    padding: 140px 1.5rem

  .discord
    margin: -3rem auto 64px auto
    
    .discord-button
      @extend %light-bg-hover
      box-shadow: 0 10px 20px 0 rgba(64,43,220,0.11)
      max-width: 525px
      max-height: auto

      margin: 24px auto 100px auto
      display: block

      img
        display: block
        width: 100%

  @media (max-width: 768px)
    .header-section
      padding: 64px

    .discord
      .discord-button
        margin: 0 auto 64px auto
          
