@import "../styles/bulma/utilities/_all"

.currency-box
  width: 280px
  border:  1px solid #1E1A31
  border-radius: 4px
  background-color: #100D22
  box-shadow: 0 10px 20px 0 rgba(64,43,220,0.11)
  margin: 10px
  padding: 29px 29px 26px 29px
  +mobile
    margin-bottom: 20px

  .currency-dot
    margin-bottom: 25px
    +mobile
      float: right

  .currency-label-1
    color: #fff
    font-size: 30px
    letter-spacing: -0.63px
    line-height: 32px
    padding-bottom: 11px

  .currency-label-2
    font-size: 22px
    letter-spacing: -0.46px
    line-height: 25px
    span
      &:first-child
        color: #fff
        padding-right: 5px
      &:last-child
        color: #fff

  .currency-line
    padding-top: 30px
    width: 100%

  .bottom-label-tx
    margin-top: 16px
    //align-self: flex-end
    text-align: left
    font-size: 16px
    letter-spacing: -0.46px
    line-height: 25px
    display: flex
    span
      padding: 4px 12px
      border-radius: 20px
      background: #1d173a
      color: #8180B9

+desktop
  .currency-box
    flex: none

+touch
  .currency-box
    width: auto