@import "../styles/bulma/utilities/_all"

.currency-box
  width: 322px
  height: 207px
  border-radius: 4px
  position: relative

  border: 1px solid #D1D1E8
  box-shadow: 0 10px 20px 0 rgba(64,43,220,0.11)

  background-color: white
  margin: 10px
  padding: 32px 28px 28px 32px
  
  +until-widescreen
    padding: 32px 14px 28px 16px
  
  +mobile
    margin-bottom: 20px

  .currency-label-1
    font-size: 30px
    color: #25244B
    letter-spacing: -0.62px
    font-family: Guillon
    font-weight: 500

  .currency-label-2
    font-size: 22px
    letter-spacing: -0.46px
    line-height: 25px
    color: #25244B
    margin-top: -3px

    span
      &:first-child
        padding-right: 5px
      &:last-child
        color: #8180B9

  .currency-logo
    position: absolute
    top: 32px
    right: 28px

  .currency-text
    font-size: 14px
    color: #25244B
    letter-spacing: -0.46px
    white-space: pre-wrap
    line-height: 26px
    +widescreen
      font-size: 22px


  .buttons
    display: flex
    justify-content: flex-start
    margin-top: 40px
    
    .currency-button
      width: 125px
      height: 39px
      margin-right: 10px
      display: block

      +until-widescreen
        width: 95px
        margin-right: 5px

      +mobile 
        width: 125px

      &:last-child 
        margin: 0

+desktop
  .currency-box
    flex: none

+touch
  .currency-box
    width: auto