@import "../styles/bulma/utilities/_all"

footer
  background-color: #090818
  color: #ffffff
  padding-top: 100px
  padding-bottom: 120px
  +mobile
    padding-top: 100px*0.4
    padding-bottom: 120px*0.4

  .site-title img
    max-height: 14px

  a
    color: #D1D1E8
    letter-spacing: 0.2px
    margin-bottom: 8px
    transition: 0.2s ease all
  &:hover 
    color: #ffffff

  .links
    li
      padding: 3px 0

  .last-column
    display: flex
    text-align: right
    padding: 0.75rem 0
    & > div
      display: flex
      flex-grow: 1
      flex-direction: column
      .c-top
        flex-grow: 1
      .c-bottom
        flex-grow: 0
        padding-bottom: 10px
        .column
          padding: 3px 10px
      a
        white-space: nowrap
    +mobile
      display: block
      margin: 32px auto
      text-align: center


    .media-links
      padding-bottom: 10px
      a
        padding: 0 0 0 20px
        +mobile
          padding: 12px
      
  .footer-rows
    display: flex
    flex-wrap: wrap

    .columns
      width: 100%

  .row
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 334px

    margin-top: 20px

    a
      display: inline-block
      height: 46px

      &.defi-img
        width: 131px

      &.eth-img
        width: 183px
        margin-right: 20px

      &.messari-img
        width: 183px
        height: 62px

    img

  .footer-container
    +mobile
      margin: 48px auto 0 auto

  .footer-rows
    +mobile
      margin-bottom: -64px

  +tablet 
    .footer-rows > div
      min-width: 240px
    .media-links
      text-align: right

  .logo-box
    justify-content: space-between
    flex-direction: row
    display: flex
    width: 100%
    margin-bottom: 80px

    +mobile
      display: block
      align-items: center

  .logo-box
    .row
      +mobile 
        display: block
        max-width: unset

  .logo-box
    .row
      a 
        +mobile
          display: block
          margin: 24px auto
          width: auto
          text-align: center
          width: 200px

@media (max-width: 1350px)

  .footer 
    .container 
      width: auto
      // margin: 40px

    .columns 
      display: flex
      justify-content: space-between



