@import "../styles/bulma/utilities/_all"
  
.banner
  background-color: #4525D0
  width: 100vw
  height: 64px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  transition: 0.2s ease all
  color: #ffffff
  font-size: 18px
  letter-spacing: 0.5px
  font-weight: 500
  &:hover 
    background-color: #5641F2

  +mobile

    .banner 
      height: auto

    .text
      margin: 20px
      font-size: 16px

@media (max-width: 450px)

  .banner 
    height: auto