@font-face
  font-family: Guillon-Regular
  src: url("../../resources/fonts/Guillon-Regular.otf") format("opentype")

@font-face
  font-family: Guillon-Demi
  src: url("../../resources/fonts/Guillon-Demi.otf") format("opentype")