@font-face
  font-family: Guillon
  font-weight: normal
  font-style: normal
  src: url("../../resources/fonts/Guillon-Regular.otf") format("opentype")

@font-face
  font-family: Guillon
  font-weight: 500
  font-style: normal
  src: url("../../resources/fonts/Guillon-Demi.otf") format("opentype")