$font-path: '../../resources/fonts/'

@font-face
  font-family: Guillon
  src: url(#{$font-path}guillon-regular-webfont.woff) format('woff2'), url(#{$font-path}guillon-regular-webfont.woff) format('woff'), url(#{$font-path}guillon-regular-webfont.svg#guillonregular) format('svg')
  font-weight: normal
  font-style: normal


@font-face
  font-family: Guillon
  font-weight: 500
  font-style: normal
  src: url(#{$font-path}guillon-demi-webfont.woff2) format('woff2'), url(#{$font-path}guillon-demi-webfont.woff) format('woff'), url(#{$font-path}guillon-demi-webfont.svg#guillondemi) format('svg')

@font-face
  font-family: Akkurat-Mono
  font-weight: normal
  font-style: normal
  src: url(#{$font-path}Akkurat-Mono.otf) format("opentype")