@import "../../styles/bulma/utilities/_all"
@import "../../styles/partials"
@import "../../styles/functions"

.exchange-page
  .header-image
    text-align: center
    width: 524
    height: 182
    margin-bottom: 38px

  .page-subtitle
    max-width: 523px

  .section-desc
    width: auto

  .section.exchange-about
    .section-desc
      max-width: 720px

      +mobile
        padding: 0 20px

    .exchange-button

      margin: 31px 0 0px 0

      a 
        @extend %light-bg-hover
        box-shadow: 0 10px 20px 3px rgba(64,43,220,0.11)
        max-width: 380px
        display: block

        img
          display: block
          width: 100%

      display: flex
      justify-content: center

  .section
    .columns
      .column
        .section-title
          width: auto

        .section-desc

          color: #5E597F
          letter-spacing: 0
          text-align: center
          line-height: 32px

        .exchange-screenshot
          display: flex
          height: 100%
          align-items: center


  .section.minting-synths

    .section-title
      width: auto

  .section.exchange-faq

    p
      font-size: 22px
      color: #5E597F
      letter-spacing: 0
      text-align: center
      line-height: 32px
      margin: auto

      +desktop
        max-width: 528px

      .subtitle 

        font-weight: 700
        font-style: italic

    .discord-button
      @extend %light-bg-hover
      box-shadow: 0 10px 20px 0 rgba(64,43,220,0.11)
      max-width: 525px
      max-height: auto

      margin: 27px auto 0 auto
      display: block

      +mobile
        margin: auto

      img
        display: block
        max-width: auto

  .sp2
    color: #0A0817
    line-height: 1.25em
    text-align: center
    @include font-size(56)
    +tablet
      width: 850px

  .sp3
    color: #6F6DA0
    line-height: 1.45em
    text-align: center
    @include font-size(22)
    +tablet
      width: 580px

  .sp4
    color: #6F6DA0
    line-height: 1.45em
    text-align: center
    @include font-size(22)
    +tablet
      width: 600px

  .sp5
    @include font-size(36)
    line-height: 1.45em


  .sp7
    color: #1E1A31
    line-height: 1.4em
    text-align: center
    @include font-size(56)

